@model IEnumerable<SaralDemo.Models.Employee>

@{
    ViewBag.Title = "Employees";
}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <div class="card shadow mb-4">
        <div class="card-header py-3">

            @if (User.IsInRole("IT Head"))
            {
             
                <h3 class="m-3 font-weight-bold text-primary" style=" background-color: transparent; ">

                    <a href="/Employees/Addemp">
                        <i style="border: none; background-color: transparent; font-family: sans-serif">Add Employee +</i>

                    </a>

                </h3>
            }
            <br />

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="t1">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.FullName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Gender)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Contact)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DOB)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BloodGroup)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DOJ)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MaritalStatus)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Designation)
                                </th>

                                <th data-orderable="false" width="120px">Operations</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FullName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Gender)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Contact)
                                    </td>
                                    <td width="93px">
                                        @Html.DisplayFor(modelItem => item.DOB)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BloodGroup)
                                    </td>
                                    <td width="93px">
                                        @Html.DisplayFor(modelItem => item.DOJ)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MaritalStatus)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Designation)
                                    </td>

                                    <td>
                                        @if (User.IsInRole("IT Head"))
                                        {
                                            

                                            @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeID }, new { @class = "btn btn-info" }) @:&nbsp;
                                            @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeID }, new { @class = "btn btn-danger" })


                                        }
                                        else
                                        {
                                            @Html.ActionLink("Details", "Details", new { id = item.EmployeeID }, new { @class = "btn btn-primary" })
                                        }


</tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

@section Scripts {
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.min.js"></script>
    @*<script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>*@

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    <script>
        $(document).ready(function () {
            $("#t1").dataTable();
        })
    </script>



    <script type="text/javascript">
        $(document).ready(function () {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                 "onclick": null,
                "showDuration": "1000",
                "hideDuration": "1000",
                "timeOut": "2000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
            if ('@TempData["Message"]' == "Added")
            {
                toastr.success('Employee Added Successfully');
            }
            else if ('@TempData["Message"]' == "Failed")
            {
                toastr.error("Some Changes Required")
            }
        });


    </script>
}

